<ion-header>
  <ion-toolbar class="header-background-color">
  	<ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="heaerfont">Booking Details</ion-title>
	<ion-buttons slot="end" (click)='done()'>
    	<ion-icon name="checkmark-done-outline" class='headerrighticon'></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content></ion-refresher-content>
	 </ion-refresher>
	<div class="tyanksnew" *ngIf="isNeword">
		Thank you for your booking
	</div>
	<div class="ordersummry">
		<div class="summryleft">
			<ul>
				Summary
				<li>Booking # <span>{{ordltls?.orderid}}</span></li>
				<li>Date <span>{{ordltls?.order_date}}</span></li>
				<li *ngIf='ordltls?.del_date'>Booking Date <span>{{ordltls?.del_date}}</span></li>
				<li>Booking Time <span>{{ordltls?.order_time}}</span></li>
				<li>Total  <span><code [innerHTML]='getappsetng?.currency_symbol'></code>{{ordltls?.total_pay}}</span></li>
			</ul>
		</div>
		<div class="summryright">
			<ul>
				{{ordltls?.ttxtsmry}}
				<li>{{logedUser.name}}</li>
				<li>{{logedUser.mobile}}</li>
				<li>{{ordltls?.blspaddress}}</li>

			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div class="productheadlist">
		<ul>
			<li class="item">Item</li>
			<li class="qty">Price</li>
			<li class="price">Total</li>
			<div class="clear"></div>
		</ul>
	</div>
	<div class="producdesclist">
		<ul *ngFor="let item of ordltls?.products">
			<li class="item">{{item.qty}} x {{item.item_name}}
				<div style="padding-left: 19px; color: #382fbb;" class="optnitm" *ngFor="let optn of item.options">{{optn.name}} (<code [innerHTML]='getappsetng?.currency_symbol'></code>{{optn.total}})</div>
				<div style="padding-left: 19px; color: #382fbb;" class="optnitm" *ngFor="let mld of item.mealdeal">{{mld.name}} (<code [innerHTML]='getappsetng?.currency_symbol'></code>{{mld.total}})</div>
			</li>
			<li class="qty"><code [innerHTML]='getappsetng?.currency_symbol'></code>{{item.item_price}}</li>
			<li class="price"><code [innerHTML]='getappsetng?.currency_symbol'></code>{{item.itm_final_total}}
				
			</li>
			<div class="clear"></div>
		</ul>
	</div>

	<div class="pricecalc">
		<ul>
			<li>Sub total &nbsp; <span><code [innerHTML]='getappsetng?.currency_symbol'></code>{{ordltls?.cart_total}}</span></li>
			<li *ngIf='ordltls?.offer_text'>{{ordltls?.offer_text}} <span><code [innerHTML]='getappsetng?.currency_symbol'></code>{{ordltls?.offer_amount}}</span></li>
			<li *ngIf="ordltls?.tax_lebel">{{ordltls?.tax_lebel}} &nbsp; <span><code [innerHTML]='getappsetng?.currency_symbol'></code>{{ordltls?.tax_value}}</span></li>
			<li>Total &nbsp; <span><code [innerHTML]='getappsetng?.currency_symbol'></code>{{ordltls?.total_pay}}</span></li>
			<li *ngIf="ordltls?.usewallet == 'YES'">Total Pay <span>{{iswaltpayamount}}</span></li>
		</ul>
	</div>
</ion-content>
