<ion-header>
  <ion-toolbar>
    <ion-title>{{apptitle}}</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
	<ion-buttons slot="end" (click)='viewmycart()'>
		<div class="cartcount" *ngIf='cartcount'>
		
		</div>
		<ion-icon name="cart-outline" class='headerrighticon'></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  	<div class="homebanner">
		<ion-slides pager="true" [options]="slideOpts">
			<ion-slide *ngFor="let bnr of banners" (click)='gocategory(bnr)'>
				<img src="{{imgpath}}banner/{{bnr.image}}">
			</ion-slide>
		</ion-slides>
	</div>
  	<div *ngIf='sesinlefct'>
		<div class="snowflx">
			<div class="snowflakes" *ngIf="appstngs.festive_theme=='Christmas'">
				<i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
			</div>
			<div class="sprngleaf" *ngIf="appstngs.festive_theme=='Leaves'">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
				<img src="assets/86-866989_spring-leaf-png.png">
			</div>
			<div class="wntrflwer" *ngIf="appstngs.festive_theme=='Flowers'">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
				<img src="assets/winter_flower.png">
			</div>
			<div class="bubbling-heart" *ngIf="appstngs.festive_theme=='Valentine'">
				<div>
					<ion-icon name="heart"></ion-icon>
				</div>
				<div>
					<ion-icon name="heart"></ion-icon>
				</div>
				<div>
					<ion-icon name="heart"></ion-icon>
				</div>
				<div>
					<ion-icon name="heart"></ion-icon>
				</div>
				<div>
					<ion-icon name="heart"></ion-icon>
				</div>
				<div>
					<ion-icon name="heart"></ion-icon>
				</div>
			</div>
			<ul class="lightrope" *ngIf="appstngs.festive_theme=='Diwali'">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="pyro" *ngIf="appstngs.festive_theme=='New Year'">
				<div class="before"></div>
				<div class="after"></div>
			</div>
			<div *ngIf="appstngs.festive_theme=='Haloween'">
				<div class='spider_0'>
					<div class='eye left'></div>
					<div class='eye right'></div>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
				</div>
				<div class='spider_1'>
					<div class='eye left'></div>
					<div class='eye right'></div>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
				</div>
				<div class='spider_2'>
					<div class='eye left'></div>
					<div class='eye right'></div>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
				</div>
				<div class='spider_3'>
					<div class='eye left'></div>
					<div class='eye right'></div>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
				</div>
				<div class='spider_4'>
					<div class='eye left'></div>
					<div class='eye right'></div>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
				</div>
				<div class='spider_5'>
					<div class='eye left'></div>
					<div class='eye right'></div>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg left'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
					<span class='leg right'></span>
				</div>
				<img class='web-right' src='http://www.scandiafun.com/images/spiderweb-corner-right.png'>
				<img class='web-left' src='http://www.scandiafun.com/images/spiderweb-corner-right.png'>
			</div>
		</div>
	</div>

	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	
	<div class="highdemandbanner blinking" *ngIf='appstngs?.pause_order_message'>
		<ion-icon name="fast-food-outline"></ion-icon> {{appstngs?.pause_order_message}}
	</div>
	<div class="padcontr">
		<div *ngFor="let item of category">
			<div class="mostpopular">
				{{item.name}} <span (click)='seeall(item)'>See All</span>
			</div>
			<ion-slides pager="true" [options]="slideOptsmenu" class='slidediv' *ngIf='!item.isscg'>
				<ion-slide *ngFor="let itm of item.prd" class='parentslid'>
					<div class="outofstkstamp" *ngIf="itm.isAvailable=='Unavailable'"><img src="assets/outofstock.png">
					</div>
					<div class="thumbsec" [ngClass]="itm.isAvailable ? 'allgrasccl': ''">
						<div class="thubimg" (click)="openDetailsItem(itm)">
							
							<img src="{{imgpath}}products/{{itm.imgs[0]}}">
						</div>
						<div class="conainfood" (click)="openAlergyInfo(itm)" *ngIf='itm.alrgy'>
							<img *ngFor="let cnt of itm.contain" src="assets/foodcontain/{{cnt}}.png">
						</div>
						<div class="temname" (click)="openDetailsItem(itm)">
							{{itm.name}}
						</div>
						<div class="temdesc" (click)="openDetailsItem(itm)" [innerHTML]='itm.description'>
						</div>
						<div class="priceandvegicn">
							<span [innerHTML]='appstngs?.currency_symbol'></span>{{itm.price}}
							
						</div>
						<div *ngIf='itm.isAvailable' class="soldoutbtn">
							{{itm.isAvailable}}
						</div>
						<div *ngIf='!itm.isAvailable'>
							<div id="addcartbtn_{{item.id}}_{{itm.id}}" class="cardbtn" (click)="addtoCart(itm, item.id)" [style.display]="itm.qty?'none':'inherit'">
								<ion-icon name="cart-outline"></ion-icon> {{itm.crtbtn}}
							</div>
							
						</div>
					</div>
				</ion-slide>
			</ion-slides>

			<ion-slides pager="true" [options]="slideOptsmenu" class='slidediv' *ngIf='item.isscg'>
				<ion-slide *ngFor="let sbct of item.scg" class='parentslid'>
					<div class="thumbsec">
						<div class="thubimg" (click)="gonextsbg(sbct, item)">
							<img src="{{imgpath}}subcategory/{{sbct.icon}}">
						</div>
						<div class="temname" (click)="gonextsbg(sbct, item)">
							{{sbct.name}}
						</div>
						<div class="cardbtn" style="background-color: #5a5959; text-align: center;"
							(click)="gonextsbg(sbct, item)">
							View Services
						</div>
					</div>
				</ion-slide>
			</ion-slides>
		</div>
	</div>
</ion-content>
<ion-footer class="ion-no-border myfootercart" *ngIf='cartcount'>
	<div class="leftprice">
		
		
	</div>
	<div class="viewcardbtn" (click)='viewmycart()'>
		View Cart <ion-icon name="cart-outline"></ion-icon>
	</div>
	<div class="clear"></div>
</ion-footer>
