<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" style="padding: 0px; border: none;">
          <ion-row style="background: hsl(213, 78%, 50%);">
            <ion-col style="display: contents;">
              <p class="manulogo"><img style="padding-top: 15%;" src="../../assets/images/logo.png"/></p>
              <p class="welcome" *ngIf='!logeduser' (click)='openloginpanel()'>  <br><span style="color: #734e4e;"> </span></p>
              <p class="welcome" *ngIf='!logeduser' (click)='openloginpanel()'>  <br><span style="color: #734e4e;"> </span></p>
              <p class="welcome" *ngIf='logeduser' (click)='gomyacount()'>{{logeduser.name}}<br><span style="color: #734e4e;">{{logeduser.mobile}}</span></p>
            </ion-col>
          </ion-row>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
